* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
}
.cf {
  clear: both;
}
/*BLOCKS*/
html {
  background-image: url(../img/bg-white.png);
}
body {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(../img/bg-white2.png);
  height: 100%;
}
header {
    padding: 20px;
}
main {
  padding: 20px;
}
nav {
  float: right;
  margin: 2% 2% 0 0;
  font-family: cursive;
  font-size: 2em;
}
article {
    vertical-align: middle;
}
img#spagett-hand {
  width: 100px;
  display: block;
  margin: -20px auto 25px;
}
div#title {
  font-size: 2vw;
}
section img#spagett-hiding {
  position: absolute;
  width: 30%;
  top: -22px;
  right: 145px;
}
section.col-half {
  display: inline-block;
  width: 48%;
}
section.col-half.text-side img#speghetti-pile {
  float: right;
  width: 50%;
}
section.col-half.speghetti-side {
  position: relative;
}
section.col-half.speghetti-side img#big-plate {
  display: block;
  max-width: 500px;
  width: 100%;
  z-index: 1;
  position: relative;
}
section.gallery img {
  float: left;
  width: 19%;
  min-width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 2px orangered;
  margin: 5px;}
section.gallery img:hover {
  box-shadow: 0px 3px 5px 2px white;
}
footer {
overflow: auto;
}
footer p {
  text-align: center;
}
table {
  width: 60%;
  background: #FEE;
  font-size: 0.8em;
  margin: 0 auto;
  min-width: 180px;
}
td, th {
  padding: 10px;
  border: 2px #CCC solid;
}
td:before {
  background-image: url(../img/splatter.png);
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  content:"";
}
/*INLINE*/
h1 {
  font-family: 'Knewave', cursive;
  color: red;
  font-size: 6vw;
}
h2#spagett-text {
  position: absolute;
  top: 23%;
  left: 25%;
  color: white;
  font-size: 4em;
  font-family: cursive;
  transform: rotate(-15deg);
  z-index: 2;
}
p {
  margin: 30px 10px;
  line-height: 1.5em;
}
p.sauce-bullet {
  position: relative;
}
p.sauce-bullet:before {
  background-image: url(../img/splatter.png);
  background-size: 70px 70px;
  display: inline-block;
  width: 70px;
  height: 70px;
  content: "";
  position: absolute;
  top: 0px;
  left: -71px;
}
p:first-letter {
  font-size: 1.2em;
}
li {
  display: inline;
  text-align: right;
  margin-left: 20px;
}
